[data-testid="stAppViewContainer"] {
    background-image: url("https://cdn.pixabay.com/photo/2017/10/26/19/45/red-2892235_1280.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-position: center; */
}