[data-testid="stAppViewContainer"] {
    background-image: url("https://cdn.pixabay.com/photo/2017/11/01/19/04/christmas-tree-2909020_1280.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-position: center; */
}