[data-testid="stAppViewContainer"] {
    background-image: url("https://images.pexels.com/photos/695971/pexels-photo-695971.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-position: center; */
}

/* CSS để thay đổi kiểu dáng của form */
.stForm {
    position: fixed;
    left: 20px;
    top: 200px;
    width: 320px;
    padding: 20px;
    border: 3px solid rgb(85, 29, 29, 0.6);
    border-radius: 10px;
    background-color: rgba(193, 180, 180, 0.5);
}

/* Thay đổi vị trí title */

h1 {
    max-width: 800px;
    position: fixed;
    padding: 0px;
    top: 70px;
    left: 20px;
    text-align: center;
    font-size: 2rem;
    color: white;
}

/* Thay đổi vị trí subheader */
h3 {
    max-width: 800px;
    position: fixed;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    top: 120px;
    left: 100px;
}




/* CSS cho các widget bên trong form */
.stTextInput,
.stNumberInput,
.stSelectbox {
    margin-top: 20px;
    width: 100%;
}

.stButton {
    background-color: rgba(193, 180, 180, 0.8);
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    width: 100%;
}