[data-testid="stAppViewContainer"] {
    background-image: url("https://cdn.pixabay.com/photo/2017/10/26/19/45/red-2892235_1280.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-position: center; */
}

.song-container {
    border: 2px solid #ff0000;
    /* Viền màu đỏ */
    border-radius: 8px;
    /* Bo tròn góc */
    background-color: rgba(255, 0, 0, 0.7);
    /* Nền màu đỏ nhạt với độ trong suốt */
    padding: 16px;
    /* Khoảng cách bên trong */
    margin-bottom: 16px;
    /* Khoảng cách giữa các phần */
}

.song-container img {
    width: 100%;
    /* Đảm bảo ảnh chiếm hết chiều rộng */
    border-radius: 5px;
    /* Bo tròn góc ảnh */
}

.song-title {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    /* Màu chữ trắng */
}

.artist-name {
    font-size: 18px;
    color: #ffffff;
    /* Màu chữ trắng */
}

.spotify-link {
    font-size: 14px;
    color: #1db954;
    /* Màu xanh lá Spotify */
    text-decoration: none;
}

.spotify-link:hover {
    text-decoration: underline;
}

.audio-player {
    margin-top: 8px;
}